.content-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-family: 'Raleway';
   margin-bottom: 8px;
    letter-spacing: 0px;
    color: #2E2E2F;
}
.content-subtitle {
    color: #55565C ;
    margin-bottom: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-family: 'Raleway';
   
    letter-spacing: 0px;
   
}
.content-body {
      font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    font-family: 'Open Sans';
    letter-spacing: 0px;
    color: #81838C !important;
}

  @media (max-width: 600px) {
    .content-title {
        font-size: 14.4px;
    }
    .content-subtitle,.content-body  {
        font-size: 12px;
    }
  }