.content-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-family: 'Raleway';
   margin-bottom: 8px;
    letter-spacing: 0px;
    color: #2E2E2F;
}
.content-subtitle {
    color: #55565C ;
    margin-bottom: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-family: 'Raleway';
   
    letter-spacing: 0px;
   
}
.content-body {
      font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    font-family: 'Open Sans';
    letter-spacing: 0px;
    color: #81838C !important;
}
.css-1askqse {
    padding: 0 !important;
}
.css-12078ri-MuiButtonBase-root-MuiIconButton-root {
  left: 18px !important;
  background: transparent !important;
  border: 1px solid #fff !important;
  color: #fff !important;
}
.css-1w25vvm-MuiButtonBase-root-MuiIconButton-root {
  right: 18px !important;
  background: transparent !important;
  border: 1px solid #fff !important;
  color: #fff !important;
}
.header-back {
    background: #fff;
    box-shadow: 0px 0px 2px 0px #B2B2B21A,
                1px 2px 4px 0px #B2B2B217,
                2px 3px 5px 0px #B2B2B214,
                3px 4px 7px 0px #8AB6E51F;
    width: 100%;
    padding: 40px 40px;
}
.header-back p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Raleway';
    letter-spacing: 0px;
}
.header-back p img {
    padding-right: 24px;
}
.image-expanded-wrap {
    position: relative;
    padding: 60px 0;
}
.gallery-button {
    position: absolute;
    top: 10px;
    left: -100px;
    border: 1px solid #D3DDE7;
    border-radius: 6px;
    padding: 14px 12px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Open sans';
}
#expand-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

  @media (max-width: 600px) {
    .content-title {
        font-size: 14.4px;
    }
    .content-subtitle,.content-body  {
        font-size: 12px;
    }
  }

//   modal 
.carousal-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 100px;
    
}
.carousal-wrapper .css-12078ri-MuiButtonBase-root-MuiIconButton-root {
  left: 0px !important;
  background: transparent !important;
  border: 1px solid #2E2E2F !important;
  color: #2E2E2F !important;
}
.carousal-wrapper  .css-1w25vvm-MuiButtonBase-root-MuiIconButton-root {
  right: 18px !important;
  background: transparent !important;
  border: 1px solid #2E2E2F !important;
  color: #2E2E2F !important;
}
.css-1qgoftt {
    padding: 0 100px;
}
