.createProperty {
  margin-top: 32px;
}
section {
  margin-bottom: 48px;
}
.muiBreadcrumbs {
  margin-bottom: 32px;
  //breadcrumbs p:
  .css-nv1n36-MuiTypography-root-MuiLink-root {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0 !important;
    text-decoration: none;
    text-decoration: none;
    color: #81838c !important;
  }

  // default breadcrumb item (last one)
  .css-1gqyz35-MuiTypography-root {
    font-family: "Raleway", sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0 !important;
    color: #214999 !important;
  }
}
.star {
  color: red;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 6px;
  letter-spacing: 0px;
  vertical-align: middle;
  
}
.ownerTitle {
  gap: 16px;
  h6 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 6px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-bottom: 32px;
  }
  p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #81838c;
  }
}

label {
  padding-left: 16px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 6px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 14px;
}

//placeholder
::placeholder {
  font-family: Open Sans !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.1px !important;
  vertical-align: middle !important;
  color: #55565c !important;
}
.image-p {
  font-family: Raleway;
  font-weight: 600;
  font-size: 12px;
  line-height: 6px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #81838c;
}
.createNP {
  padding: 14px 24px;
  border-radius: 8px;
  background: #214999;
  font-size: 16px;
  color: #fff;
  height: 48px;
  font-weight: 600;
  font-family: "Raleway";
  line-height: 18px;
  letter-spacing: 0;
  display: flex;
}
.DiscardC {
  padding: 14px 24px;
  border-radius: 8px;
  border-color: #d3dde7;
  background: whitw;
  font-size: 16px;
  color: #2e2e2f;
  height: 48px;
  font-weight: 600;
  font-family: "Raleway";
  line-height: 18px;
  letter-spacing: 0;
  display: flex;
}
.chipField {
  gap: 16px;
  padding-right: 16px;
  padding-left: 16px;
}
.css-1pqm26d-MuiAvatar-img {
  width: auto !important;
  height: auto !important;
  object-fit: contain; /* maintains aspect ratio */

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 0% !important;
}

.css-rizt0-MuiTypography-root {
  font-family: Open Sans !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.1px !important;
  text-align: center !important;
  vertical-align: middle !important;
  color: #55565c !important;
}

//MUI default value:

.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #55565c;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  vertical-align: middle;
}
