
table {
  width: 100%; 
  overflow: hidden;
  border-radius: 2px;
  border-collapse: collapse;
}
th,td {
  border: 1px solid #D8DEE5 !important; 
}
th {
  padding: 12px 16px;
  color: #81868C;
  text-align: start;
    font-size: 12px;
     line-height: 18px;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: 'Raleway';
    
}
td {
  padding: 16px;
}
td  {
  overflow: hidden;
    color: #46494C;
    text-overflow: ellipsis;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.018em;
    font-family: 'Open Sans';
}
.furnish {
  color: #8D9399;
}
.link-h {
  text-align: center;
}
.company-name h3 {
  overflow: hidden;
  color: #46494C ;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.216px;
  margin: 0;
  padding-bottom: 8px;
}
.company-name p {
  color: #81868C;
  margin: 0;
  font-size: 12px;
}
.company-name p img {
  margin-right: 6px;
}

.link-wrap {
  display: flex;
  justify-content: center;
}

.rental,.lease,.sale {
  padding: 4px 8px;
  text-align: center;
  border-radius: 2px;
}
.rental {
  color: #35B350;
  background: #E5F6E9; 
}
.lease {
  color: #B38935;
  background: #F6F0E5;
}
.sale {
  color: #6E6EE9;
  background: #E4E4F5;
}
.link-wrap img:not(:last-child) {
  margin-right: 10px;
}

.checkbox-align input {
  display: flex;
}

// filter
.filter-div-wrapper {
  padding: 24px;
}
.filter-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}
.filter-header p {
  color: #81838C ;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0;
}
.apply-reset-btn {
  display: flex;
}

.genericFilterApplyStyles,.refresh-btn {
  padding: 14px 24px !important;
        border-radius: 6px !important;
       
        font-size: 16px;
        
        font-weight: 600;
        font-family: 'Raleway';
        line-height: 18px !important;
        letter-spacing: 0;
        height: 48px !important;
        display: flex !important;
        align-items: center;
}
.genericFilterApplyStyles {
   background: #214999 !important;
   color: #fff !important;
}
.genericFilterApplyStyles img {
  padding-right:  0px;
}
.genericFilterApplyStyles:hover {
      background: #214999;
}
.refresh-btn {
  border: none;
  background: none;
  margin-right: 16px;
  color: #214999;
}

.checklist-content-1 {
  padding-bottom: 16px;
}
.checklist-content h4 {
   font-size: 16px;
        
  font-weight: 600;
  font-family: 'Raleway';
    line-height: 18px !important;
  letter-spacing: 0;
  color: #2E2E2F;
  margin-bottom: 16px;
}

.label-wrapper label {
  font-size: 14px;      
  font-weight: 400;
  font-family: 'Open Sans';
    line-height: 22px;
  letter-spacing: 0.1px;
  color: #55565C;
  margin-bottom: 8px;
  width: 100%;
}

.filter-link button {
  margin-right: 0 !important;
}

// search
.search input  {
  width: 197px;
  border-radius: 6px;
}