$theme-colors: (
  "primary": #0d6efd,
  "custom-blue": #1F3B73
);


.breadcrumb {
    .breadcrumb-item {
      a {
        text-decoration: none; // Remove underline
        font-weight: normal;   // Remove bold
        color: inherit;        // Optional: keep same color
      }
  
    }
  .OwnerDetails{
    .ownerTitle{
      h6{
        font-family: Raleway;
        font-weight: 700;
        font-size: 16px;
        // line-height: 6px;
        letter-spacing: 0px;
        vertical-align: middle;
    
      }
      p{
      }
    }
  }
  }