.breadcrumbs{
    display:flex;
    gap:4px;
    flex-direction: row;
    width: 253px;
    height: 24px;
    left: 441px;
    gap: 12px;
    margin-top: 32px;
    
    
p{
    width: 82px;
    height: 17px;
    font-family: Archivo;
    font-weight: 500px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #81858C;
    
}
img{
    width: 11px;
    height: 17px;
    margin-left: 12px;
    margin-right: 12px;
}
.newPage {
    p{
    width: 146px;
    height: 17px;
    font-family: Archivo;
    font-weight: 500px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #1F3B73;
}     
}
}

h4{
    width: 849px;
    height: 24px;
    top: 216px;
    left: 441px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 6px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-top: 32px;
}

.inputs{
    display: flex; 
    gap: 15px;   
    width: 100%;
    // width: 849px;
    // height: 72px;
    // top: 264px;
    // left: 441px;
    // gap: 16px;
    width: 416.5px;
    top: 32px;
    border-radius: 6px;
    border-width: 1px;
    padding-top: 11px;
    padding-right: 8px;
    padding-bottom: 11px;
    padding-left: 8px;
    
      
}
input{
    width: 416.5px;
    height: 40px;
    top: 32px;
    border-radius: 6px;
    border-width: 1px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 11px;
    padding-left: 8px;
    
}
form{
    width: 849px;
    height: 56px;
    top: 928px;
    left: 441px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.radioButtons{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 264px;
    height: 24px;
    top: 32px;
    left: 8px;
    gap: 16px;
    margin-right: 16px;
    align-items: center;
}
.radiobtn{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 72px;
    height: 24px;
    gap: 8px;
    align-items: center;
}
.iradio{
    width: 16px;
    height: 16px;
    
}
.lradio{
    margin-left: 8px;
    width: 48px;
    height: 18px;
    font-family: Open Sans;
    font-weight: 400px;
    font-size: 16px;
    line-height: 6px;
    letter-spacing: 0px;
    text-align: center;
       
}
.Hradiobtn{
    width: 72px;
    height: 24px;
    gap: 8px;
    
}
.Aradiobtn{
    width: 105px;
    height: 24px;
    gap: 8pxpx;
    
}
.Vradiobtn{
    width: 55px;
    height: 24px;
    gap: 8px;
    
}