.createProperty{
  margin-top: 32px;
}
section{
  margin-bottom: 48px;
}
  .breadcrumb{
    
    a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      text-decoration: none;
      text-decoration: none;
      color: #81838c;
      
    }

    // image inside breadcrumb
    .img-brd {
      width: 6.175px;
      height: 10px;
      position: relative;
      top: 5px;
      left: 6.91px;
      color: #b8babf;
    }

    // default breadcrumb item (last one)
    .defaultBreadcrumb-item {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      color: #214999;
    }
    
  }
  .star{
    color: red;
  }
  .ownerTitle{
    
    gap: 16px;
    h6{
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 6px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-bottom: 32px;
    
    
    }
    p{
      font-family: Open Sans;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      vertical-align: middle;
      color: #81838C;
    }
  }

  label{
    padding-left: 16px;
    font-family: Open Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 6px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-bottom: 14px;
    
  }
  .image-p{
    font-family: Raleway;
    font-weight: 600;
    font-size: 12px;
    line-height: 6px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #81838C;
  }
  .createNP{
    padding: 14px 24px;
    border-radius: 8px;
    background: #214999;
    font-size: 16px;
    color: #fff;
    height: 48px;
    font-weight: 600;
    font-family: "Raleway";
    line-height: 18px;
    letter-spacing: 0;
    display: flex;
  }
  .DiscardC{
    padding: 14px 24px;
    border-radius: 8px;
    border-color: #D3DDE7;
    background: whitw;
    font-size: 16px;
    color: #2E2E2F;
    height: 48px;
    font-weight: 600;
    font-family: "Raleway";
    line-height: 18px;
    letter-spacing: 0;
    display: flex;

  }
  .chipField{
    
    gap: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .css-1su80sj-MuiAvatar-img{
    
      
      width: auto !important;
      height: auto !important;
      object-fit: contain; /* maintains aspect ratio */
      
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-right: 0% !important;
    
    
  }

  .css-rizt0-MuiTypography-root{
  font-family: Open Sans !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.1px !important;
  text-align: center !important;
  vertical-align: middle !important;
  color: #55565C !important;

}