/* src/components/LogingPage/login.scss */

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 461px;
  height: 656px;
  background-color: white;  // or use your theme background color
  border-radius: 12px;
  padding: 16px; /* corresponds to p: 4 in MUI (4 * 4px = 16px) */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  outline: none;  /* remove default outline */
  border: none;   /* remove default border */
  // display: flex;
  // flex-direction: column;

  border-radius: 12px;
  padding-top: 140px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  gap: 32px;
 
}
