.home-sec {
  padding: 24px 12px 24px 24px !important;

  .container {
    padding: 0;
  }

  .new-post-wrap {
    .house-topic {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1px 0 3px;

      .house-topic-content {
        h3 {
          margin: 0;
          font-size: 22px;
          line-height: 27px;
          font-weight: 700;
          font-family: 'Raleway';
          padding-bottom: 8px;
          color: #2E2E2F;
        }

        p {
          margin: 0;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          font-family: 'Open Sans';
          color: #81868C;
        }
      }

      .genericNewPostStyles {
        padding: 14px 24px;
        border-radius: 8px;
        background: #214999;
        font-size: 16px;
        color: #fff;
        height: 48px;
        font-weight: 600;
        font-family: 'Raleway';
        line-height: 18px;
        letter-spacing: 0;
        display: flex;

        &:hover {
          background: #2C62CC;
        }
      }
    }
    top:0;
    position: relative;
  }

  .pending-approve {
    margin: 32px 0 24px;
    display: flex;

    .pa-common {
      padding: 12px 24px;
      display: flex;
      align-items: center;
      margin-right: 8px;

      img {
        margin-right: 8px;
      }

      p {
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        font-family: 'Raleway';
        color: #81868C;
        margin-bottom: 0;
      }

      &.active {
        position: relative;

        p {
          color: #1F3B73;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background: #00BFA6;
          width: 100%;
          height: 4px;
          border-radius: 4px;
        }
      }
    }
  }

  .new-listing-wrap {
    .new-listing {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      .new-listing-wrap-list {
        display: flex;
        align-items: center;

        h3 {
          margin: 0;
          font-size: 16px;
          font-weight: 700;
          font-family: 'Raleway';

          &.fresh-list {
            color: #1F3B73;
          }

          &.pending-list {
            color: #81868C;
          }
        }

        img {
          margin: 0 12px;
        }
      }

      .list-panel {
        display: flex;
        align-items: center;

        .search {
          position: relative;

          input {
            padding: 9px 8px 9px 40px;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Open Sans';
            color: #2E2E2F;
            border: 1px solid #D8DEE5;
            outline: none;
            border-radius: 6px;
            width: 197px;
            height: 48px;

            &::placeholder {
              color: #2E2E2F;
            }
          }

          img {
            position: absolute;
            left: 8px;
            top: 13px;
          }
        } 
  
      }
    }
  }

  // Media Queries
  @media (max-width: 992px) {
    padding: 16px 0;

    .house-topic {
      flex-direction: column;

      h3 {
        padding-bottom: 8px;
      }

      p {
        padding-bottom: 20px;
      }
    }

    .pa-common {
      padding: 10px;
    }

    .new-listing {
      flex-direction: column;

      .Link {
        display: none;
      }
      
      .search input {
        display: none;
      }

      .search img {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        
      }
    }
  }

  @media (max-width: 792px) {
    .container {
      padding: 0 12px;
    }

    .pa-common.active::after {
      content: none;
    }

    padding: 15px 0;

    .pending-approve {
      margin: 35px 0 20px;
      flex-direction: column;
    }
  }

  @media (max-width: 664px) {
    .house-topic-content h3 {
      font-size: 24px;
      line-height: 28px;
      padding-bottom: 6px;
    }

    .house-topic-content p {
      font-size: 15px;
      padding-bottom: 16px;
    }

    .new-post {
      padding: 8px 18px;
      font-size: 14px;
    }

    .new-listing {
      margin: 30px 0;

      .fresh-list {
        padding-bottom: 16px;
      }
    }
  }

  @media (max-width: 440px) {
    .new-listing-wrap-list {
      flex-direction: column;
      align-items: flex-start;

      img {
        display: none;
      }
    }
  }
}
.tab-content {
  padding: 0 !important;
}
.tab-content  .css-19kzrtu {
  padding: 0;
}
.color-edit button {
          
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans';
  margin: 0;
  margin-left: 16px;
  color: #2E2E2F;
  border: 1px solid #D3DDE7;
  border-radius: 6px;
  padding: 12px !important;
}
  img {
    padding-right: 8px;
  }

.header-wrap {
  box-shadow: 4px 8px 16px 0px rgba(138, 182, 229, 0.06), 2px 4px 8px 0px rgba(178, 178, 178, 0.04), 1px 2px 4px 0px rgba(178, 178, 178, 0.04), 0px 1px 2px 0px rgba(178, 178, 178, 0.04);
  position:  sticky !important;
  top: 0;
  z-index: 9;
  background: #fff;
  padding: 0 !important;
}
.new-post-wrap.hide {
  top: -100px; /* Hide it out of view */
  height: 0px;
}

.property-option {
  padding-bottom: 16px;
}
.genericContinueButton {
  background: #214999 !important;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: 'Raleway';
  line-height: 24px;
  letter-spacing: 0;
  width: 100%;
  justify-content: center;
}
.genericContinueButton:hover {
  background: #2C62CC !important;
  color: #fff;
}
#demo-row-radio-buttons-group-label {
  color: #2E2E2F;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Raleway';
  line-height: 24px;
  letter-spacing: 0;
}