.home-sec {
    padding: 32px 0 32px 30px;
}
.col-md-9.tab-content {
  padding: 0;
}
.home-sec .container {
  padding: 0;
}
.css-19kzrtu {
    padding: 0 !important;
}
.house-topic {
  justify-content: space-between;
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
}
.house-topic-content h3 {
  margin: 0;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1.176px;
    padding-bottom: 7px;
    color: #2E2E2F;
}
.house-topic-content p {
  margin: 0;
  color :#81868C;
  font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.384px;
}
.genericNewPostStyles {
  padding: 14px 24px;
  border-radius: 8px;
  background: #214999;
  font-size: 16px;
  color: #fff;
  height: 48px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  font-family: 'Raleway';
}
.genericNewPostStyles:hover {
  background: 1px solid #214999;
  color: #fff;
}
.new-post img {
  margin-right: 8px;
}

.pending-approve {
 margin: 32px 0 24px;
 display: flex;
}
.pa-common.active {
  position: relative;
}
.pa-common.active::after {
  content: '';
  position: absolute;
  bottom: 0px;
    left: 0;
    background: #00BFA6;
    width: 100%;
    height: 4px;
    border-radius: 4px;
}
.pa-common {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.pa-common img {
  margin-right: 8px;
}
.pa-common  .Link {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.pending .Link {
  color: #1F3B73;
}
.approve .Link {
  color: #81868C;
}
.new-listing {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px 0;
}
.new-listing-wrap-list {
  display: flex;
  align-items: center;
}
.new-listing-wrap-list h3 { 
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.fresh-list {
  color: #1F3B73;
}
.pending-list {
  color: #81868C;
}
.new-listing-wrap-list img {
  margin: 0 12px;
}
.list-card {
  display: flex;
  align-items: center;
}

.list-color {
  position: relative;
}
.list-color::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #0056B2;
  bottom: 0;
  left: 0;
}
.new-listing .Link {
  text-decoration: none;
}

.list-panel {
  display: flex;
  align-items: center;
}
.list-color {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #0056B2;
}
.list-color .Link {
  color: #0056B2;
}

.new-listing p img {
  padding-right: 8px;
}
.new-listing p {
  padding: 14px 12px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 16px;
}
.card {
  color: #81868C;
}
.color-edit .Link {
  color: #2E2E2F;
}
.search {
  position: relative;
}
.search img {
  position: absolute;
  left: 8px;
  top: 13px;
}
.search input {
  padding: 9px 8px 9px 40px;
  font-size: 16px;
  font-weight: 400;
  color: #2E2E2F ;
  border: 1px solid #D8DEE5;
  outline: none;
  border-radius: 2px;
  width: 185px;
  height: 48px;
  letter-spacing: 0px;
  font-family: 'Open Sans';
}
.search input::placeholder {
  color: #2E2E2F ;
  
}


@media only screen and (max-width:992px) {
  .home-sec {
    padding: 16px 0;
  }
 
  .house-topic {
    display: flex;
    flex-direction: column;
  }
  .house-topic h3 {
    padding-bottom: 8px;
  }
  .house-topic p {
    padding-bottom: 20px;
  }
  .pa-common {
    padding: 10px;
  }
  .new-listing {
    flex-direction: column;
  }
  .new-listing .Link {
    display: none;
  }
  .search input {
    display: none;
  }
 .search img {
    position: relative;
    left: 0px;
    top: 0;
    margin: 14px 12px;
}
  .new-listing {
    justify-content: normal;
  }
}
@media only screen and (max-width:792px) {

  .home-sec .container {
    padding: 0 12px;
  }
  .pa-common.active::after {
    content: none;
  }
  .home-sec {
    padding: 15px 0;
}
  .pending-approve {
    margin: 35px 0 20px;
    flex-direction: column;
  }
}  
@media only screen and (max-width:664px) {

  .house-topic-content h3 {
    font-size: 24px;
    line-height: 28px;  
    padding-bottom: 6px;
  }
  .house-topic-content p {
    font-size: 15px;
    padding-bottom:16px;
  }
  .new-post {
    padding: 8px 18px;
    font-size: 14px;
  }
  .new-listing {
    margin: 30px 0;
  }
  .fresh-list {
    padding-bottom: 16px;
  }
  
}
@media only screen and (max-width:440px) {
  
  .new-listing-wrap-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .new-listing-wrap-list img {
    display: none;
  }
}