.header-wrap {
    box-shadow: 4px 8px 16px 0px rgba(138, 182, 229, 0.06), 2px 4px 8px 0px rgba(178, 178, 178, 0.04), 1px 2px 4px 0px rgba(178, 178, 178, 0.04), 0px 1px 2px 0px rgba(178, 178, 178, 0.04);
}

.logo {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}
.list-icon {
  display: none;
}
.admin-wrap {
  padding: 40px 12px 40px 24px;
  position: relative;
}
.admin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  
}
.bell {
  display: flex;
  align-items: center;
}
.h-search {
  position: relative;
  width: 397px;
  height: 48px;
}
.h-search img {
  position: absolute;
  left: 18px;
  top: 13px;
}
.h-search input {
  padding: 9px 18px 9px 50px;
  border: 1px solid #D8DEE5;
  border-radius: 2px;
  color: #81858C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  height: 100%;
}
.h-search input:focus {
  outline: none;
}
.ad-right {
  display: flex ;
  padding: 11.5px 16px;
  border: 0.5px solid #D3DDE7;
  border-radius: 2px;
  align-items: center;
}
.ad-right  img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.ad-right p {
  margin: 0;
  color :#81868C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bell-image {
  margin-right: 32px;
}
.setting-image {
    padding-right: 32px;
}
.genericPostYourProperty {
  padding: 15px 24px !important;
  border-radius: 8px !important;
  background: #214999 !important;
  font-size: 16px;
  color: #fff;
  height: 48px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  font-family: 'Raleway';
}
.genericPostYourProperty:hover {
  color: #fff;
}
@media only screen and (max-width:992px) {

  .admin-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 15px 15px 25px
  }
  .admin-wrap img {
    width: 30px;
  }
  .admin {
    position: absolute;
    top: 80px;
    right: 50px;
    background: #444;
    flex-direction: column;
    padding: 50px;
    border-radius: 8px;
    display: none;
  }
  .h-search {
    background: #fff;
  }
  .h-search input {
    width: 100%;
  }
  .bell {
    background: #fff;
    border-radius: 8px;
    margin-top: 15px;
  }
    .list-icon {
    display: block;
  }
}

@media only screen and (max-width:440px) {
    .logo {
        padding: 15px;
    }
    .admin-wrap {
    padding: 15px;
    position: relative;
  }
}