.header-wrap {
    box-shadow: 4px 8px 16px 0px rgba(138, 182, 229, 0.06), 2px 4px 8px 0px rgba(178, 178, 178, 0.04), 1px 2px 4px 0px rgba(178, 178, 178, 0.04), 0px 1px 2px 0px rgba(178, 178, 178, 0.04);
    position:  sticky !important;
    top: 0;
    z-index: 9;
    background: #fff;
    padding: 0 !important;
  }
.header-wrap.hide {
  top: -100px; /* Hide it out of view */
}
.navbar .container {
  justify-content: flex-end !important;
}
.header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  padding: 0 60px !important;
  margin: 0 !important;
}
.notifyRound{
  background-color: #00BFA6 !important
}

.admin-wrap {
  padding: 0px 12px 0px 24px;
  position: relative;
  text-align: end;
}
.header-wrap .admin {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  
}
.bell {
  display: flex;
  align-items: center;
}
.h-search {
  position: relative;
  // max-width: 394px;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  padding-right: 32px;
}

.h-search img {
  position: absolute;
  left: 18px;
  top: 13px;
}
.h-search input {
  padding: 9px 8px 9px 50px;
  border: 1px solid #D8DEE5;
  border-radius: 6px;
  color: #55565C;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: 'Open Sans';
  width: 100%;
  height: 100%;
}
.h-search input:hover,.setting-image:hover ,.bell-image button img:hover ,.prh-ad-right:hover  {
   background: #F2F6F7;
}

.h-search input:focus {
  outline: none;
}
.prh-ad-right {
  cursor:pointer;
  display: flex ;
  padding: 11.5px 16px;
  border-radius: 6px;
  align-items: center;
}
.prh-ad-right  img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.prh-ad-right p {
  margin: 0;
  color :#55565C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-family: "Open Sans";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.bell-image {
  margin-right: 32px;
  position: relative;
  cursor: pointer;
  .notifyround {
    position: absolute;
    top: 56%;
    left: 56%;
    background-color: #00BFA6 !important;
    padding: 0 5px;
    border-radius: 25px;
    font-family: "Open Sans";
    font-size: 9px;
    height: 20px;
    width: 20px;
    align-items: center;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
  }
}
.bell-image button {
  background: none;
  border: none;
  padding: 0;
}
.bell-image img {
  padding-right: 0;
}
.setting-image {
  cursor:pointer;
    margin-right: 32px;
    padding: 8px;
}
.genericPostYourProperty {
  padding: 15px 24px !important;
  border-radius: 8px !important;
  background: #214999 !important;
  font-size: 16px;
  color: #fff;
  height: 48px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  font-family: 'Raleway';
  margin-left: 32px;
}
.genericPostYourProperty:hover {
  color: #fff;
}

.admin-btn-popover {
  box-shadow: 4px 8px 16px 0px rgba(138, 182, 229, 0.06), 2px 4px 8px 0px rgba(178, 178, 178, 0.04), 1px 2px 4px 0px rgba(178, 178, 178, 0.04), 0px 1px 2px 0px rgba(178, 178, 178, 0.04);
  border: 1px solid #D3DDE7;
}
// notification 
.notification-popover {
  padding: 16px;
  height: calc(100vh - 128px);
  border: 1px solid #ddd;
  box-shadow: 4px 8px 16px 0px rgba(138, 182, 229, 0.06), 2px 4px 8px 0px rgba(178, 178, 178, 0.04), 1px 2px 4px 0px rgba(178, 178, 178, 0.04), 0px 1px 2px 0px rgba(178, 178, 178, 0.04);
   
}
.notify-header {
  display: flex;
  padding: 6.5px 0;
  justify-content: space-between;
  margin-bottom: 24px;
  
}

.notify-header h4 {
  font-size: 22px;
  color: #2E2E2F;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0px;
  font-family: 'Raleway';
  margin: 0;
}
.notify-header button {
  font-size: 16px;
  color: #214999;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  font-family: 'Raleway';
  border: none;
  background: none;
}

.admin-btn-popover {
    cursor:pointer;
    padding: 16px 12px;
    width: 250px;
}
.admin-popup-cmn-div {
  display: flex;
  align-items: center;
  
}
.admin-popup-cmn-div:not(:last-child) {
  padding-bottom: 16px;
}
.admin-popup-cmn-div p {
  margin-bottom: 0;
  width: 58%;
  padding: 0;
  font-size: 16px;
  color: #2E2E2F;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: 'Open Sans';
}
.admin-popup-cmn-div img {
  padding: 0px;
  width: 24px;
  margin: 12px;
}

@media only screen and (max-width:992px) {
      .header-wrap .admin {
        flex-direction: column;
        align-items: center !important;
        padding: 20px 0px;
        position: absolute;
        width: 100vw;
        background: #f4f2f2;
        padding: 30px 30px;
        right: -75px;
        top: 70px;
        justify-content: center;
        box-shadow: 4px 8px 16px 0px rgba(138, 182, 229, 0.06), 2px 4px 8px 0px rgba(178, 178, 178, 0.04), 1px 2px 4px 0px rgba(178, 178, 178, 0.04), 0px 1px 2px 0px rgba(178, 178, 178, 0.04);
   
      }
    }
//   .admin-wrap {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     padding: 15px 15px 15px 25px
//   }
  

//   .h-search {
//     background: #fff;
//   }
//   .h-search input {
//     width: 100%;
//   }
//   .bell {
//     background: #fff;
//     border-radius: 8px;
//     margin-top: 15px;
//     padding: 10px 20px;
//   }
//     .list-icon {
//     display: block;
//   }
// 

@media only screen and (max-width:664px) {
    .logo {
        padding: 0px !important;
    }
    .admin-wrap {
    padding: 15px;
    position: relative;
  }
}

////***elastic search****/
    //  .search-bar {
    //     display: flex;
    //     gap: 10px;
    //   }
    //   select,
    //   input[type="text"] {
    //     padding: 10px;
    //     font-size: 16px;
    //   }
    //   .results {
    //     z-index: 99999999999999;
    //     position: relative;
    //     overflow: auto;
    //     height: 400px;
    //     border: 1px solid #ccc;
    //     background-color: #fff;
    //   }
    //   .suggestion {
    //     border: 1px solid #ccc;
    //     padding: 5px 15px;
    //     cursor: pointer;
    //     background-color: #fff;
    //     text-align: left;
    //     position: relative;
    //     z-index: 9999999999;
    //   }
    //   .suggestion:hover {
    //     background-color: #f9f9f9;
    //   }
    //   .category-label {
    //     font-size: 12px;
    //     color: gray;
    //   }
    //   mark {
    //     background-color: yellow;
    //     font-weight: bold;
    //   }
    //   .show-more {
    //     color: blue;
    //     cursor: pointer;
    //     font-size: 14px;
    //     text-align: center;
    //     position: sticky;
    //     bottom: 0;
    //     z-index: 99999999999999;
    //     background-color: #fff;
    //   }
/// 