.large-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: relative;
    height: 100%;
    z-index: 0;
}
.large-image {
    width: 100% !important;
    height: 500px;
}

.slide-counter {
    position: absolute;
    top: 15px ;
    left: 15px;
    z-index: 1;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.custom-right-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    border-radius: 100px;
    z-index: 0;
    display: flex;
}
.custom-left-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    border-radius: 100px;
    z-index: 1;
    display: flex;
}
.right-slider img {
    height: 250px  !important;
    width: 100%;
}
