.tab-row {
  flex-grow: 1;
  display: 'flex';
  height: '100%';
  width: 100%;
}
.MuiTabs-indicator {
  left: 0;
  background: #00BFA6 !important;
  width: 8px !important;
  height: 22px !important;
  border-radius: 100px;
  margin-top: 12px;
}
 .nav-tabs {
   padding: 32px;
 }

.tab-outerlayer-div  {
  display: flex ;
  flex-direction: row !important;
  justify-content: start !important;
  padding-left: 24px !important;
  margin-bottom: 16px !important;
}

.tab-outerlayer-div  svg {
  margin-bottom: 2px !important;
  padding-right: 6px;
}
#nav-common-tab button.Mui-selected {
  color: #214999;
}

.css-19kzrtu {
  padding: 0;
}
#nav-common-tab button {
  min-height: 48px !important;
  color: #55565C;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  font-family: 'Open Sans';
  text-transform: capitalize;
}

@media only screen and (max-width:992px) {
  .nav-tabs {
    padding: 32px 12px;
  }
  .tab-outerlayer-div {
    padding-left: 10px !important;
  }
}