.tab-row {
  flex-grow: 1;
  display: 'flex';
  height: '100%';
  width: 100%;
}
.MuiTabs-indicator.css-oewvya-MuiTabs-indicator {
  left: 0;
  background: #00BFA6 !important;
  width: 8px !important;
  height: 22px !important;
  border-radius: 100px;
  bottom: none;
  margin-top: 12px;
}
 .nav-tabs {
   padding: 32px;
 }

.tab-outerlayer-div  {
  display: flex !important;
  flex-direction: row !important;
  justify-content: start !important;
  padding-left: 24px !important;
  margin-bottom: 16px !important;
}

.tab-outerlayer-div  svg {
  margin-bottom: 2px !important;
  padding-right: 6px;
}
#nav-common-tab .css-1bdwf22-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #214999;
}
.css-1bdwf22-MuiButtonBase-root-MuiTab-root {
  min-height: 48px !important;
}
.css-19kzrtu {
  padding: 0;
}
#nav-common-tab button {
  height: 48px;
  color: #55565C;
}

@media only screen and (max-width:992px) {
  .nav-tabs {
    padding: 32px 12px;
  }
  .tab-outerlayer-div {
    padding-left: 10px !important;
  }
}