.tab-row {
  flex-grow: 1;
  display: 'flex';
  height: '100%';
  width: 100%;
}
.css-oewvya-MuiTabs-indicator {
  left: 0;
  background: #00BFA6 !important;
  width: 8px !important;
  height: 22px !important;
  border-radius: 100px;
  margin: 24px 0 0;
}
 .nav-tabs {
   padding: 32px;
 }

.tab-outerlayer-div  {
  display: flex !important;
  flex-direction: row !important;
  justify-content: start !important;
  padding-left: 24px !important;
  height: 48 !important;
}
.tab-outerlayer-div  svg {
  margin-bottom: 2px !important;
  padding-right: 6px;
}
.css-19kzrtu {
  padding: 0;
}

@media only screen and (max-width:992px) {
  .nav-tabs {
    padding: 32px 12px;
  }
  .tab-outerlayer-div {
    padding-left: 10px !important;
  }
}