.tab-row {
  flex-grow: 1;
  display: 'flex';
  height: '100%';
  width: 100%;
}
.css-oewvya-MuiTabs-indicator {
  left: 0;
}

 .tab-navs {
   padding-top: 32px;
 }

.nav-tabs {
  font-size: 16px;
  color: #646464;
  margin-left: 10px;
}