body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway' !important;
}

.login-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F0F5FC;
}

.login.container {
    width: 544px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 32px 16px;
    border-radius: 16px;
}
.image {
  padding: 32px;
}

.heading p {
  font-family: Raleway;
  color: #46494C;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 27px;
  padding-bottom: 24px;
}

.email,.password {
  position: relative;
  padding-bottom: 24px;
}

.email img,.password img {
  position: absolute;
  top: 10px;
  left: 16px;
}

.password-icon-right {
  position: absolute;
  top: 10px;
  right: 16px;
  left: auto !important;
  cursor: pointer;
  z-index: 2;
}

/* .adminreset{
  color:#2E2E2F;
} */

.input-cmn input:focus {
  border: 1px solid #2E2E2F;
  outline: none;              
}

.input-cmn input {
  font-family: 'Open Sans';
  width: 496px;
  height:40px;
  padding: 10px 0 10px 44px;
  color: #2E2E2F;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 6px;
  border: 1px solid #D3DDE7;
}

.signin {
  border-radius: 6px;
  background: #214999;
  box-shadow: 4px 8px 16px 0px rgba(229, 229, 229, 0.24), 2px 4px 8px 0px rgba(107, 131, 178, 0.16), 1px 2px 4px 0px rgba(41, 61, 102, 0.16), 0px 1px 2px 0px rgba(41, 44, 51, 0.24);

  padding: 16px 0px 14px 0px;
  width: 100%;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  font-family: 'Raleway';
}
/* .forget.container {
  display: flex;
  justify-content: center;
  padding: 32px;
  flex-shrink: 0;
}  
.forget.container p {
  margin-bottom: 0;
  color: #6D7074;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
  font-family: 'Open Sans';
}
.forget.container p button {
  color: #46494C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  border: none;
} */