#pending-approval-tab {
    width: 100%;
}

#pending-approval-tab button img {
    width: max-content !important;
    height: max-content !important;
}

#pending-approval-tab .MuiTabs-indicator {
  background: #00BFA6 !important; 
  height: 4px !important;
  border-radius: 100px;
}
#pending-approval-tab button {
    min-height: 48px !important;
    color: #2E2E2F;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    font-family: 'Raleway';
    text-transform: capitalize;
    
    margin-right: 24px;

}
#pending-approval-tab  button:hover {
  background: #F2F6F7;
}
#pending-approval-tab button.Mui-selected {
  color: #214999;
  font-weight: 700;
}
#pending-approval-tab button img {
    width: max-content !important;
    height: max-content !important;
    margin-right: 0;
}
.MuiTab-iconWrapper {
    margin-right: 0 !important;
}
.css-19kzrtu {
  padding: 0 !important;
}
.css-1x2b9qw-MuiTabs-root {
  padding-bottom: 16px !important;
}

// dashboard tab bottom
.new-listing-wrap-list .result {
  color: #81838C;
}
.resultCount {
  color: #2E2E2F;
}
// search
.search {
  width: min-content;
}
.search input  {
  
  width: 0% !important;
  border-radius: 6px;
  margin-right: 16px;
  transition: width 0.3s ease;
}
.search.active input {
  width: 200px !important;
}

.search input:hover,.color-edit button:hover {
  background: #F2F6F7;
}
.search input:hover {
  border: 1px solid #81838C !important;
}
// filter
.filter-div-wrapper {
  padding: 24px 24px 0 24px;
  width: 300px;
}
.label-wrapper {
  margin-bottom: 24px;
}
.filter-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}
.filter-header p {
  color: #81838C ;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0;
}
.apply-reset-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background: #fff;
  padding: 24px 24px;
  width: 100%;
  right: 0;
}

.genericFilterApplyStyles,.refresh-btn {
  padding: 14px 24px !important;
  border-radius: 6px !important;
       
  font-size: 16px;
        
  font-weight: 600;
  font-family: 'Raleway';
  line-height: 18px !important;
  letter-spacing: 0;
  height: 48px !important;
  display: flex !important;
  align-items: center;
}
.genericFilterApplyStyles {
   background: #214999 !important;
   color: #fff !important;
}
.genericFilterApplyStyles img {
  padding-right:  0px;
}
.genericFilterApplyStyles:hover {
      background: #214999;
}
.refresh-btn {
  border: none;
  background: none;
  margin-right: 16px;
  color: #214999;
}

.checklist-content-1 {
  padding-bottom: 16px;
}
.checklist-content h6 {
   font-size: 16px;   
  font-weight: 600;
  font-family: 'Raleway';
    line-height: 18px !important;
  letter-spacing: 0;
  color: #2E2E2F;
  margin-bottom: 16px;
}

.label-wrapper label {
  width: 100%;
  margin-bottom: 8px;
}
.label-wrapper label span {
  font-size: 14px;      
  font-weight: 400;
  font-family: 'Open Sans';
    line-height: 22px;
  letter-spacing: 0.1px;
  color: #55565C;
  margin-left: 0 !important;
  padding-left: 0;
}

.filter-link button {
  margin-right: 0 !important;
}

// toggle 
.list-card-toggle {
  border: 1px solid #D3DDE7;
  padding: 6px;
  border-radius: 8px;
}
.list-card-toggle button {
  margin-right: 8px !important;
  border-radius: 4px;
  border: none;
}
.list-card-toggle button.Mui-selected {
  background: #214999 !important;
  color: #fff !important;  
}
.filtercount {
  color: #214999 !important;
}