body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow:hidden;
}
.body-content-container {
  padding: 0 !important;
}

@media only screen and (max-width:992px) {
.body-content-container {
  padding: 0 12px !important;
}
}
