.footer-top-content-wrapper {
    background: #F2F6F7;
    padding: 56px 150px;
}
.footer-logo {
    padding-bottom: 24px;
}
.top-row {
    padding-bottom: 56px;
}
.top-common-col:not(:first-child)  {
    padding: 0;
}
.footer-top h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0px;
    font-family: 'Raleway';
    margin: 0px;
    color: #2E2E2F;
    padding-bottom: 24px;
}
.top-common-col h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    font-family: 'Raleway';
    margin: 0px;
    color: #55565C;
    padding-bottom: 8px;
}
.top-common-col p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Open Sans';
    margin: 0px;
    color: #81838C;
    padding-bottom: 8px;
}
.bottom-row  {
    padding-bottom: 56px;
}
.col-heading-styles h6 {
    color: #2E2E2F;
     font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0px;
    font-family: 'Raleway';
    margin: 0px;
    padding-bottom: 24px;
}

.genericExploreOptionsPropertyBtn,.genericPostPropertyBtn {
    padding: 15px 24px ;
  border-radius: 8px ;
  background: #214999;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  font-family: 'Raleway';
}
.footer-bottom {
    background: #2E2E2F;
    color: #fff;
}